.dropDown{
  margin-bottom: calc(12vmin * 100 / 750);
  .title{
    height: calc(82vmin * 100 / 750);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E6E6E6;
    padding: calc(24vmin * 100 / 750) calc(40vmin * 100 / 750);
    font-size:  calc(24vmin * 100 / 750);
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #000000;
    line-height:calc(32vmin * 100 / 750);
    box-sizing: border-box;
    .name{

    }
    .icon{
      width: calc(32vmin * 100 / 750);
      height: calc(32vmin * 100 / 750);
    }
  }
  // .content{
  //   padding: calc(20vmin * 100 / 750) calc(80vmin * 100 / 750);
  // }
}