.Classify{
  .content{
    .allSeries{
      padding: calc(60vmin * 100 / 750) calc(40vmin * 100 / 750);
      .top{
        display: flex;
        justify-content: space-between;
        font-size: calc(28vmin * 100 / 750);
        font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
        font-weight: bold;
        color: #000000;
        line-height: calc(38vmin * 100 / 750);
        .title{
          font-size: calc(28vmin * 100 / 750);
          font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
          font-weight: bold;
          color: #000000;
          line-height: calc(38vmin * 100 / 750);
        }
        .icon{
  
        }
      }
      .seriesDom{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        height: calc(280vmin * 100 / 750);
        padding-top: calc(34vmin * 100 / 750);
        .item{
          padding: 0 calc(19vmin * 100 / 750);
          .img{
            width: calc(300vmin * 100 / 750);
            height: calc(146vmin * 100 / 750);
          }
          .name{
            padding-top: calc(16vmin * 100 / 750);
            font-size:  calc(24vmin * 100 / 750);
            font-family: SwatchCTWeb;
            color: #000000;
            line-height: calc(28vmin * 100 / 750);
          }
        }
      }
    }
    .classifyDom{
      font-size: calc(28vmin * 100 / 750);
      line-height: calc(38vmin * 100 / 750);
      padding: calc(60vmin * 100 / 750) calc(40vmin * 100 / 750);
      .title{
        font-size: calc(28vmin * 100 / 750);
        font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
        font-weight: bold;
        color: #000000;
        line-height: calc(38vmin * 100 / 750);
      }
      .list{
        padding-top: calc(40vmin * 100 / 750);
        padding-left: calc(16vmin * 100 / 750);
        display: flex;
        flex-wrap: wrap;
        .child{
          width: calc(316vmin * 100 / 750);
          padding-bottom: calc(34vmin * 100 / 750);
        }
      }
    }
  }
}