.shopList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F4F4F4;
  padding: 0 calc(25vmin * 100 / 750);
}

.shopList .shopBox {
  width: calc(320vmin * 100 / 750);
  min-height: calc(486vmin * 100 / 750);
  background-color: white;
  text-align: center;
  margin: calc(15vmin * 100 / 750);
  position: relative;
}

.shopList .shopBox .shop_head {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 calc(24vmin * 100 / 750);
  top: calc(26vmin * 100 / 750);
  box-sizing: border-box;
}

.shopList .shopBox .shop_head .wish {
  width: calc(50vmin * 100 / 750);
  height: calc(50vmin * 100 / 750);
}

.shopList .shopBox .swiper {
  padding-top: calc(48vmin * 100 / 750);
  height: calc(320vmin * 100 / 750);
  box-sizing: border-box;
}

.shopList .shopBox .swiper .item .imgBox {
  display: flex;
  width: 100%;
  justify-content: center;
}

.shopList .shopBox .swiper .item .imgBox .bigImg {
  width: calc(204vmin * 100 / 750);
  height: calc(204vmin * 100 / 750);
}

.shopList .shopBox .shop_img {
  padding-top: calc(48vmin * 100 / 750);
  width: calc(204vmin * 100 / 750);
  height: calc(204vmin * 100 / 750);
}

.shopList .shopBox .shop_name {
  font-size: calc(28vmin * 100 / 750);
  font-family: SwatchCT-Bold, SwatchCT;
  font-weight: bold;
  color: #000000;
  line-height: calc(28vmin * 100 / 750);
  padding: calc(8vmin * 100 / 750) 0;
}

.shopList .shopBox .shop_style {
  font-size: calc(24vmin * 100 / 750);
  font-family: SwatchCTWeb;
  color: #8E8E8E;
  line-height: calc(26vmin * 100 / 750);
  padding-bottom: calc(20vmin * 100 / 750);
}

.shopList .shopBox .shop_price {
  font-size: calc(24vmin * 100 / 750);
  font-family: SwatchCTWeb;
  color: #8E8E8E;
  line-height: calc(26vmin * 100 / 750);
  padding-bottom: calc(26vmin * 100 / 750);
}
