.Gategory{
  position: relative;
  overflow-x: hidden;
  height: 100%;
  .scrollview{
    height: calc(1522vmin * 100 / 750);
    // height: 100%;
  }

  .filterBtn{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    background-color: #F4F4F4;
    font-weight: bold;
    color: #8E8E8E;
    line-height: 16px;
    padding: calc(40vmin * 100 / 750);
    .item{
      
    }
  }
  .Filter{
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    // padding-top:  calc(214vmin * 100 / 750);
    height: calc(1500vmin * 100 / 750);
    box-sizing: border-box;
    z-index: 100;
    .content{
      height: calc(1200vmin * 100 / 750);
      background: white;
      overflow-y: auto;
      .FilterList{
        display: flex;
        font-size: calc(24vmin * 100 / 750);
        padding: 0 calc(24vmin * 100 / 750);
        flex-wrap: wrap;
        flex-direction: row;
        .item{
          min-width: calc(334vmin * 100 / 750);
          display: flex;
          .FilterDom{
            white-space: nowrap;
            padding: calc(12vmin * 100 / 750) calc(48vmin * 100 / 750);
            background: #f3f3f3;
            margin: calc(14vmin * 100 / 750) 0;
            // margin-right: calc(170vmin * 100 / 750);
          }
        }
      }
    }
  }
}