.backTop {
  position: fixed;
  bottom: calc(40vmin * 100 / 750);
  right: calc(44vmin * 100 / 750);
  width: calc(48vmin * 100 / 750);
  height: calc(48vmin * 100 / 750);
  z-index: 99;
  background: white;
  img{
    width: calc(48vmin * 100 / 750);
    height: calc(48vmin * 100 / 750);
  }
}