.Modal{
  width: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  height: calc(1500vmin * 100 / 750);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  .content{
    width: 74%;
    background: white;
    padding: calc(20vmin * 100 / 750) calc(40vmin * 100 / 750);
    .cancel{
      display: flex;
      justify-content: flex-end;
      .btn{
        
      }
    }
  }
}