.header {
  width: 100%;
  height: calc(100vmin * 100 / 750);
  position: relative;
}

.header .free {
  position: fixed;
  height: calc(100vmin * 100 / 750);
}

.header .tap {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  height: calc(100vmin * 100 / 750);
  align-items: center;
}

.header .tap .logo {
  height: calc(40vmin * 100 / 750);
  position: absolute;
  right: 1rem;
  left: 1rem;
  margin: 0 auto;
}

.header .tap .icon img {
  width: calc(40vmin * 100 / 750);
  height: calc(40vmin * 100 / 750);
}

.header .tap .leftView {
  padding-left: calc(44vmin * 100 / 750);
}

.header .tap .leftView img {
  margin-right: calc(36vmin * 100 / 750);
}

.header .tap .rightView {
  padding-right: calc(44vmin * 100 / 750);
}

.header .tap .rightView img {
  margin-left: calc(36vmin * 100 / 750);
}
