.btnGroup{  
  display: flex;
  justify-content: space-between;
  font-size: calc(28vmin * 100 / 750);
  font-family: MicrosoftYaHei;
  color: #000000;
  line-height: calc(38vmin * 100 / 750);
  z-index: 99;
  .btn{
    border-radius: calc(8vmin * 100 / 750);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(25vmin * 100 / 750) 0;
  }
  .shopCar{
    border: 1px solid;
  }
  .buy{
    background: black;
    color: white;
  }
}