.shopDetail{
  padding-bottom: calc(300vmin * 100 / 750);
  .swiperImg{
    position: relative;
    .shop_head{
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 calc(24vmin * 100 / 750);
      top: calc(26vmin * 100 / 750);
      right: calc(38vmin * 100 / 750);
      box-sizing: border-box;
      .new{
        // width: calc(120vmin * 100 / 750);
        // height: calc(50vmin * 100 / 750);
        // color: #F4F4F4;
        // background: #EF5B52;
        // font-size: 12px;
        // text-align: right;
      }
      .wish{
        width: calc(50vmin * 100 / 750);
        height: calc(50vmin * 100 / 750);
      }
    }
    .swiper{
      height: calc(500vmin * 100 / 750);
      padding-top: calc(60vmin * 100 / 750);
      .item{
        .imgBox{  
          display: flex;
          width: 100%;
          justify-content: center;
          .bigImg{
            width: calc(400vmin * 100 / 750);
            height: calc(400vmin * 100 / 750);
          }
        }
      }
  
      .swiper-container{
        .swiper-pagination{
          .swiper-pagination-bullet{
            width: calc(38vmin * 100 / 750);
            height: calc(6vmin * 100 / 750);
            border-radius: 0%;
            margin: 0;
          }
        }
      }
    }
    .selectArr{
      display: flex;
      justify-content: center;
      align-items: center;
      .imgBox{
        width: calc(80vmin * 100 / 750);
        height: calc(80vmin * 100 / 750);
        margin: calc(10vmin * 100 / 750);
        .bigImg{
          width: calc(80vmin * 100 / 750);
          height: calc(80vmin * 100 / 750);
        }
      }
    }
  }
  .goodsName{

  }
  .series{
    display: flex;
    justify-content: center;
  }
  .rate{
    display: flex;
    justify-content: center;
    line-height: calc(80vmin * 100 / 750);
    align-items: center;
    .rateStar{
      // padding-right: calc(20vmin * 100 / 750);
    }
  }
  .price{
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: calc(30vmin * 100 / 750);
  }
  .number{
    padding: calc(32vmin * 100 / 750) 0;
    font-size: calc(24vmin * 100 / 750);;
    font-family: MicrosoftYaHei;
    color: #000000;
    line-height: calc(32vmin * 100 / 750);
  }
  .selector{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: calc(32vmin * 100 / 750);
    .size{
      display: flex;
      justify-content: space-between;
      // width: calc(500vmin * 100 / 750);
      .title{

      }
      .guide{

      }
    }
    .pickerDom{
      // .at-list{
      //   width: calc(500vmin * 100 / 750);
      // }
    }
  }
  .location{
    font-size: calc(28vmin * 100 / 750);
    font-family: MicrosoftYaHei;
    line-height: calc(38vmin * 100 / 750);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: calc(40vmin * 100 / 750);
    margin-bottom: calc(30vmin * 100 / 750);
  }
  .ServiceBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(30vmin * 100 / 750);
    font-size: calc(24vmin * 100 / 750);
    margin-bottom: calc(30vmin * 100 / 750);
    .item{
      .img{
        width: calc(36vmin * 100 / 750);
      }
      .name{
        font-size: calc(24vmin * 100 / 750);
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .shopBtn{
    display: flex;
    justify-content: space-between;
    font-size: calc(24vmin * 100 / 750);
    .btn{
      width: calc(260vmin * 100 / 750);
      height: calc(82vmin * 100 / 750);
      border-radius: calc(10vmin * 100 / 750);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .shopCar{
      border: 1px solid;
    }
    .buy{
      width: calc(262vmin * 100 / 750);
      height: calc(84vmin * 100 / 750);
      background: black;
      color: white;
    }
  }
  .cont1{
    font-size: 12px;
    img{
      width: 100%;
    }
  }
  .cont1, .cont2, .cont3{
    padding: calc(20vmin * 100 / 750) calc(80vmin * 100 / 750);
  }
  .cont2{
    .contList{
      border-bottom: 1px solid #f3f3f3;
      padding: calc(30vmin * 100 / 750) 0 calc(10vmin * 100 / 750) 0;
      .cont-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calc(24vmin * 100 / 750);
        .character{
          display: flex;
          align-items: center;
          .character-img{
            width: calc(70vmin * 100 / 750);
            height: calc(70vmin * 100 / 750);
            border-radius: 50%;
            margin-right: calc(30vmin * 100 / 750);
          }
          .character-name{

          }
        }
      }
      .cont-tail{
        .rateStar{
          margin: calc(20vmin * 100 / 750) 0;
        }
        .section{
          font-size: calc(32vmin * 100 / 750);
        }
        .img{
          img{
            width: calc(100vmin * 100 / 750);
            margin: calc(10vmin * 100 / 750);
          }
        }
        .last{

        }
      }
    }
  }
  .cont3{
    padding: calc(48vmin * 100 / 750);
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: calc(24vmin * 100 / 750);
    .parameter{
      min-width: calc(230vmin * 100 / 750);
      .item{

      }
    }
  }

  .btnGroup{
    width: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    background: white;
  }

  .content2{
    font-size: calc(24vmin * 100 / 750);
    .title{
      font-weight: bolder;
      font-size: calc(40vmin * 100 / 750);
      padding-bottom: calc(60vmin * 100 / 750);
    }
    .hand{
      
    }
  }


  .underLine{
    text-decoration: underline;
    padding-left: calc(20vmin * 100 / 750);
  }
}